label {
    margin-top: 10px;
}

.autocomplete-dropdown {
    position: absolute;
    overflow: hidden;
    top: 79px;
    width: 100%;
    background: #eee;

    ul {
        padding-left: 15px;
        padding-top: 10px;
    }

    li,a  {
        font-size: 18px;
    }

    li {
        color: #bbb;
    }

    a {
        color: #555;
    }


}

.input-group:nth-child(2) {
    margin-top: 105px;
}